body{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
h1{
    color: rgb(210, 8, 8);
}
section{
    background: rgb(165, 164, 143);
    padding-top: 80px;
    padding-bottom: 80px;
    display: flex;
    justify-items: center;
    justify-content: center;
}
